.about-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: #f3f3f3;
    margin-top: 10px;

}
.status-div{
    display: flex;
    justify-content: center;
    min-height: 200px;
}
.status-div ul{
    list-style: none;
}
.status-div ul li{
    margin: 5px 30px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 20px;
}
.status-div ul li:nth-child(3) span{
    background-color: #EA4335;
    color: #fff;
    padding: 10px;
}
.status-div ul li:nth-child(4) span{
    background-color: #34A853;
    color: #fff;
    padding: 10px;
}
.status-div ul li:nth-child(5) span{
    background-color: #FBBC05;
    color: #fff;
    padding: 10px;
}
.status-div ul li:nth-child(6) span{
    background-color: #4285F4;
    color: #fff;
    padding: 10px;
}
.info, .credit{
    margin: 20px 10px;
}
.badge-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.social{
    margin: 20px 0;
}
.social-link{
    margin-right: 20px;
  }
  .social-link-github{
      color: #24292e;
  }
  .social-link-linkedin{
      color: #0a66c2;
  }
  .social-link-twitter{
      color: #1da1f2;
  }
  .social-link-instagram{
    color: #D22A8A;
  }
  social-link:hover{
    color: #303030;
  }
